<!DOCTYPE html>
<html lang="en">

<head>

    <title>EUAS Web Services</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/AdminLTE/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- landing CSS -->
    <link href="/static/css/landing-page.css" rel="stylesheet">

    <!-- landing Fonts -->
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

</head>

<body>

    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h2 style="color:#FF0000">EUAS Web Services</h2>
                        <hr class="intro-divider">

                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

</body>

</html>
